
@{
    ViewBag.Title = "Index";
}

<div>
    <br/><br/>
    <button>@Html.ActionLink("Give admin privileges", "LoadViewSearch", "Admin")</button>
    <br/><br/>
    <button>@Html.ActionLink("Add Product", "AddProductView", "Admin")</button>
    
</div>





